.container {
    // background-color: red;
    font-size: 1.3rem;
    input {
        display: block;
        font-size: 1.1rem;
        margin-bottom: 10px;
    }
    select {
        display: block;
        font-size: 1.1rem;
        margin-bottom: 10px;
    }
    textarea {
        display: block;
        font-size: 1.1rem;
        margin-bottom: 10px;
    }
    button {
        margin-top: 10px;
        margin-right: 20px;
        font-size: 1.5rem;
    }
}