.postCredit {
    background-color: rgb(250, 233, 140);
    // a {
    //     margin-right: 10px;
    //     color: rgb(2, 177, 177);
    // }
    a {
        margin-right: 5px;
        color: rgb(26, 190, 169);
    }
    .postAuthor {
        font-size: 0.8rem;
        font-weight: bold;
        color: rgb(6, 89, 214);
    }
    .timeAgo{
        color: rgb(250, 6, 38);
    }
}
